torch
librosa
transformers[sentencepiece]
sentencepiece
pandas
tqdm
evaluate
diacritization-evaluation
pydub
pyarabic
jiwer
aiohappyeyeballs
aiohttp
aiosignal
attrs
audioread
certifi
cffi
charset-normalizer
click
datasets
decorator
diacritization-evaluation
dill
evaluate
filelock
frozenlist
fsspec
hf-xet
huggingface-hub
idna
Jinja2
jiwer
joblib
kaldialign
lazy_loader
librosa
lightning-utilities
llvmlite
MarkupSafe
mpmath
msgpack
multidict
multiprocess
networkx
numba
numpy
packaging
pandas
platformdirs
pooch
propcache
protobuf
PyArabic
pyarrow
pycparser
pydub
python-dateutil
pytorch-lightning
pytz
PyYAML
RapidFuzz
regex
requests
safetensors
scikit-learn
scipy
sentencepiece
six
soundfile
soxr
sympy
threadpoolctl
tokenizers
torch
torchmetrics
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
